html,
body {
  height: 100%;
}

body {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  color: #222;
}

.main {
  flex-grow: 1;
}

.visuallyHidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.hideOverflow {
  overflow: hidden;
}
