@import "fonts";
@import "vars";
@import "normalize";
@import "libs";
@import "global";

.wrapper {
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/content/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#fff, 0.1);
  }
}

.container {
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  padding: 50px;
  margin-top: 80px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 20px 5px rgba(#222, 0.2);
}

@import "media";
